body {
  font-family: Palatino, 'Palatino Linotype', serif;
  background-color: rgb(192, 192, 192);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h1 {
  color: rgb(128, 0, 255);
}

.container {
  text-align: center;
}

input[type="text"] {
  width: 200px;
  margin-left: 10px;
  padding: 7px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

input[type="submit"],
input[type="reset"] {
  padding: 10px 30px;
  margin-top: 10px;
  background-color: rgb(128, 0, 255);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: rgb(106, 106, 106);
}